# mysql
MYSQL_DATABASE=database1
MYSQL_USER=database1
MYSQL_PASSWORD=password
MYSQL_ROOT_PASSWORD=password

# php
DATE_TIMEZONE=Europe/Rome
DISPLAY_ERRORS=on

# volumes
NGINX_ROOT=~/PhpstormProjects
NGINX_CONFIG=./nginx
PHP_CONFIG=./php-fpm
MYSQL_DATA=./mysql